body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.fullPage {
  width: 1920px;
  top: -770px;
  gap: 100px;
  opacity: 0px;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .fullPage {
    width: 100%;
    height: 100%;
    top: -770px;
    gap: 100px;
    opacity: 0px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

  .fullPage {
    width: 100%;
    height: 100%;
    top: -770px;
    gap: 100px;
    opacity: 0px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fullPage {
    width: 100%;
    height: 100%;
    top: -770px;
    gap: 100px;
    opacity: 0px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .fullPage {
    width: 100%;
    top: -770px;
    gap: 100px;
    opacity: 0px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .fullPage {
    width: 100%;
    top: -770px;
    gap: 100px;
    opacity: 0px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
