.fullPage {
  width: 1920px;
  height: 1080px;
  top: -770px;
  left: -5235px;
  gap: 0px;
  opacity: 0px;
  background-color: aqua;

  .upLoading {
    width: 1920px;
    height: 217px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    background: #dadaf7;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      width: 153px;
      height: 74px;
      opacity: 0px;
      border: 2px solid red;
    }
  }
}
