.arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: purple;
    border-radius: 50%;
    color: white;
  }
  