.logo {
  width: 200px;
  height: 200px;
  margin-top: -150px;
  margin-right: 3rem;
  gap: 0px;
}


@media screen and (min-width: 350px) and (max-width: 670px) {
  .logo {
    width: 100px;
    height: 200px;
    margin-top: -150px;
    margin-right: 10rem;
  }
}

@media screen and (min-width: 671px) and (max-width: 1200px) {
  .logo {
    width: 100px;
    height: 200px;
    margin-top: -150px;
    margin-right: 10rem;
  }
}

